.banner {
  width: 100vw;
  background: linear-gradient(180deg, #3c2ca0 1.58%, #753bc5 98.61%);
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;

  .presentation {
    width: 50vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10%;
    z-index: 9999;

    a {
      &:first-child {
        background: transparent;
        width: auto;
        height: auto;
        display: block;
      }
    }

    img {
      width: 100%;
      max-width: 382px;
    }

    h1 {
      color: #fff;
      max-width: 585px;
      margin-bottom: 20px;
    }

    p {
      font-weight: 400;
      max-width: 585px;
      color: #fff;
      margin-bottom: 20px;
    }
  }

  .bannerIllustration {
    width: 100%;
    max-width: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: illustration 3s linear infinite;

    img {
      width: 150%;
      overflow: hidden;
    }

    @keyframes illustration {
      0% {
        transform: translateY(10px);
      }
      50% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(10px);
      }
    }
  }
}

.divider1 {
  width: 100vw;
  height: 20vh;
  position: relative;
  z-index: 2;
  background: linear-gradient(
    178.24deg,
    #753bc5 47.57%,
    rgba(117, 59, 197, 0) 47.58%
  );

  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 299px;
    background: url('/assets/wave1.png') repeat;
    background-size: cover;
    background-position: center top;
    opacity: 0;

    &.wave1 {
      animation: animate 30s linear infinite;
      z-index: 1000;
      opacity: 1;
      animation-delay: 0s;
      bottom: 0;
    }

    &.wave2 {
      animation: animate2 15s linear infinite;
      z-index: 999;
      opacity: 0.5;
      animation-delay: -5s;
      bottom: 0;
    }

    &.wave3 {
      animation: animate3 10s linear infinite;
      z-index: 998;
      opacity: 0.2;
      animation-delay: -2s;
      bottom: 15;
    }

    @keyframes animate {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: -1000px;
      }
    }

    @keyframes animate2 {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: 1000px;
      }
    }
    @keyframes animate3 {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: -1000px;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1680px) {
  .banner {
    height: auto;

    .presentation {
      width: 80%;
      margin: 0 10%;
    }

    .bannerIllustration {
      margin-top: 20px;
      margin-right: 10%;
      max-width: 320px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    height: auto;
    flex-direction: column;

    .presentation {
      width: 80%;
      margin: 0 auto;
    }

    .bannerIllustration {
      margin-top: 20px;
    }
  }
}
