.steps {
  width: 100vw;
  position: relative;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/assets/grayBG.png') no-repeat;
  background-position: center center;

  .services {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    flex-wrap: wrap;
    position: relative;

    h2 {
      margin: 0px;
      text-align: left;
    }
    li {
      text-align: center;
      width: calc(50% + 36px);
      color: var(--gray-200);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: row;
      cursor: pointer;
      transition: all ease-in-out 0.2s;
      position: relative;
      margin-right: 0;
      margin-left: auto;
      padding-bottom: 40px;

      &:nth-child(odd) {
        margin-right: auto;
        margin-left: 0;

        .infoBody {
          .stepsTitle {
            align-items: flex-end;
            flex-direction: column;
            margin-right: 20px;
            padding-right: 20px;
          }
        }
      }

      ul {
        li {
          margin: 0;
          width: 100%;
          justify-content: flex-start;
          list-style: square;
        }
      }

      &:last-child {
        .infoBody {
          .textBox {
            background-color: var(--purple-300);

            h3,
            p {
              color: #fff;
            }
          }
        }
        .infoHead {
          .stepsIcon {
            &:after {
              display: none;
            }
          }
        }
      }

      .infoHead {
        display: flex;

        .stepsIcon {
          background: var(--white);
          width: 72px;
          height: 72px;
          border-radius: 50%;
          box-shadow: 10px 26px 50px rgba(49, 89, 211, 0.28);
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 999999999;

          img {
            width: 72px;
            height: 72px;
            z-index: 999999999;
          }

          &:after {
            content: ' ';
            width: 2px;
            height: calc(100% - 70px);
            background: var(--purple-300);
            position: absolute;
            top: 72px;
          }
        }
      }

      .infoBody {
        margin-left: 45px;
        display: flex;
        flex-direction: column;

        .stepsTitle {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          margin-right: 0;
          padding-right: 0;
          margin-left: 20px;
          padding-left: 20px;
          font-size: 30px;
          text-align: left;

          h3 {
            font-size: 50px;
          }

          &::after {
            border-right: 2px solid var(--purple-300);
          }
        }

        .textBox {
          background: #ecf2ff;
          border-radius: 15px;
          border: 10px solid var(--white);
          padding: 20px;
          color: var(--gray-200);
          box-shadow: 21px 21px 1px #ae9dff;
          margin: 20px 0;

          h3 {
            font-size: 22px;
            text-align: left;
          }

          p {
            font-size: 18px;
            padding: 10px 0;
            text-align: left;
          }
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1680px) {
  .steps {
    .services {
      li {
        &:nth-child(odd) {
          margin-right: auto;
          margin-left: 0;

          .infoBody {
            .stepsTitle {
              align-items: flex-end;
              flex-direction: column;
              margin-right: 20px;
              padding-right: 20px;
            }
          }
        }

        .infoBody {
          margin-left: 45px;
          display: flex;
          flex-direction: column;

          .stepsTitle {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin-right: 0;
            padding-right: 0;
            margin-left: 20px;
            padding-left: 20px;
            font-size: 20px;
            text-align: left;

            h3 {
              font-size: 42px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .steps {
    flex-direction: column;
    padding: 10px;
    overflow: hidden;

    .services {
      margin-top: 60px;

      li {
        width: 100%;
        margin: 20px 0;

        &:nth-child(odd) {
          margin: 20px 0;
        }

        h3 {
          font-size: 16px;
        }

        .infoHead {
          display: none;
        }

        .infoBody {
          margin-left: 0;

          .textBox {
            box-shadow: 11px 11px 1px #ae9dff;
          }
        }
      }
    }
  }
}
