.plansPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input[type='radio'] {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  label {
    color: var(--purple-300);
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
    background: #dde1ea;
    border: solid 3px var(--purple-300);
    border-radius: 10px 0 0 10px;
    padding: 10px 20px;

    &:last-child {
      border-radius: 0 10px 10px 0;
    }
  }

  input[type='radio']:checked + label {
    color: var(--white);
    background: var(--purple-300);
  }

  label + input[type='radio'] + label {
    border-left: solid 3px var(--purple-300);
  }
  .radio-group {
    border: solid 3px var(--purple-300);
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
  }

  p {
    max-width: 1000px;
    margin: 50px auto;
  }
  ul.plans {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;

    li {
      width: 23%;
      margin: 0;
      background: #ffffff;
      box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      padding: 20px 1%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all ease-in-out 0.3s;

      &:hover {
        transform: scale(1.1);
      }

      &.intermediatePlan {
        transform: scale(1.1);
        border: 1px solid var(--purple-300);

        .recommended {
          background-color: var(--purple-300);
          margin: 5px;
          padding: 10px;
          border-radius: 10px;
          color: #fff;
          font-weight: 700;
        }
      }

      h6 {
        font-weight: 700;
        color: #242f40;
      }

      p {
        text-align: center;
        margin: 10px auto;

        strong {
          font-size: 48px;
          color: #6359cf;
        }

        span {
          color: #5b6b82;
        }
      }

      button {
        background: var(--purple-300);
        border: none;
        padding: 10px 30px;
        border-radius: 10px;
        color: #fff;
        font-weight: 700;
        transition: all ease-in-out 0.3s;

        &:hover {
          transform: scale(1.1);
          background: var(--purple-800);
        }
      }

      a {
        font-size: 18px;
        border-radius: 0;
        width: auto;
        height: auto;
        padding: 10px 0;
        border-bottom: 2px solid var(--purple-300);
      }

      ul {
        list-style: none;

        li {
          width: 90%;
          background: transparent;
          box-shadow: none;
          border-radius: 0;
          margin: 20px auto;
          padding: 0;
          text-align: left;
          display: block;

          strong {
            color: #6359cf;
          }
        }
      }
    }
  }

  table.tableInfo {
    max-width: 1320px;
    margin: 0 10%;
    border: 0;
    border-spacing: 0;

    tr {
      border-bottom: 2px solid var(--purple-300);
      height: 45px;
      margin: 140px;

      &:first-child {
        color: var(--white);
      }
    }

    th {
      background: var(--purple-300);
      padding: 0 20px;

      &:first-child {
        border-radius: 0 0 0 40px;
      }

      &:last-child {
        border-radius: 0 0 40px 0;
      }
    }

    td {
      border-bottom: 2px dashed #96a1fa;
      text-align: center;
      max-width: 140px;
      margin: 0 10px;

      &:first-child {
        max-width: 300px;
        padding: 0 30px;
        text-align: left;
      }
    }
  }
}
