.plansPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  z-index: 99999999;

  input[type='radio'] {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  label {
    color: var(--purple-300);
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
    background: #dde1ea;
    border: solid 3px var(--purple-300);
    border-right: solid 1.5px var(--purple-300);
    border-radius: 10px 0 0 10px;
    padding: 10px 20px;

    &:last-child {
      border-radius: 0 10px 10px 0;
      border-left: 0;
      border-right: solid 3px var(--purple-300);
    }
  }

  input[type='radio']:checked + label {
    color: var(--white);
    background: var(--purple-300);
  }

  label + input[type='radio'] + label {
    border-left: solid 3px var(--purple-300);
  }
  .radio-group {
    border: solid 3px var(--purple-300);
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
  }

  p {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
  }
  ul.plans {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;

    li {
      width: 23%;
      margin: 0;
      background: #ffffff;
      box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      padding: 20px 1%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all ease-in-out 0.3s;

      &:hover {
        transform: scale(1.1);
      }

      &.intermediatePlan {
        transform: scale(1.1);
        border: 1px solid var(--purple-300);

        .recommended {
          background-color: var(--purple-300);
          margin: 5px;
          padding: 10px;
          border-radius: 10px;
          color: #fff;
          font-weight: 700;
        }
      }

      h6 {
        font-weight: 700;
        color: #242f40;
      }

      p {
        text-align: center;
        margin: 10px auto;

        strong {
          font-size: 48px;
          color: #6359cf;
        }

        span {
          color: #5b6b82;
        }
      }

      button {
        background: var(--purple-300);
        border: none;
        padding: 10px 30px;
        border-radius: 10px;
        color: #fff;
        font-weight: 700;
        transition: all ease-in-out 0.3s;

        &:hover {
          transform: scale(1.1);
          background: var(--purple-800);
        }
      }

      a {
        font-size: 18px;
        border-radius: 0;
        width: auto;
        height: auto;
        padding: 10px 0;
        border-bottom: 2px solid var(--purple-300);
      }

      ul {
        list-style: none;

        li {
          width: 90%;
          background: transparent;
          box-shadow: none;
          border-radius: 0;
          margin: 20px auto;
          padding: 0;
          text-align: left;
          display: block;
          font-weight: 500;

          strong {
            color: #6359cf;
          }
        }
      }
    }
  }

  .bglines {
    background: url('/assets/bglines.png');
    width: 100%;
    height: 510px;
    position: absolute;
    margin-top: 515px;
    z-index: -1;
  }

  table {
    max-width: 1320px;
    width: 80%;
    border: 0;
    border-spacing: 0;
    background-color: var(--white);

    caption {
      width: 100%;
    }

    thead {
      tr {
        th {
          color: var(--white);
        }
      }
    }

    tr {
      border-bottom: 2px solid var(--purple-300);
      height: 45px;
      margin: 140px;
      font-weight: 900;

      &:first-child {
        color: var(--gray-300);
        font-weight: 500;
        color: #000;
      }

      strong {
        font-weight: 900;
        color: var(--purple-300);
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    th {
      background: var(--purple-300);
      padding: 0 20px;

      &:first-child {
        border-radius: 0 0 0 40px;
      }

      &:last-child {
        border-radius: 0 0 40px 0;
      }
    }

    td {
      border-bottom: 2px dashed #96a1fa;
      text-align: center;
      max-width: 140px;
      margin: 0 10px;
      font-weight: 900;
      color: var(--purple-300);

      &:first-child {
        max-width: 300px;
        padding: 0 30px;
        text-align: left;
        font-weight: 400;
        color: #000;
      }

      a {
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        background-color: var(--purple-300);
        height: 47px;
        margin: 20px auto;
        width: 80%;
        max-width: 100%;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .plansPage {
    overflow-x: scroll;

    ul.plans {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      list-style: none;
      width: 100%;
      overflow-x: auto;
      li {
        width: 90%;
        margin: 20px 5%;

        &.intermediatePlan {
          transform: scale(1);
        }
      }
    }

    table {
      overflow-x: scroll;
      border: 0;

      thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        width: 80%;
      }

      tr {
        border: 0;
        display: block;
        margin: 30px 0;
        height: auto;
      }

      td {
        border-bottom: 0;
        display: block;
        font-size: 0.8em;
        text-align: right;
        margin: 10px 0;
        max-width: 100%;

        &:first-child {
          max-width: 100%;
          background-color: var(--purple-300);
          color: var(--white);
          padding: 20px;
        }

        &::before {
          /*
          * aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
@media (min-width: 769px) and (max-width: 1680px) {
  .plansPage {
    table {
      caption {
        h2 {
          max-width: 568px;
        }
      }

      td {
        a {
          font-size: 12px;
          min-width: 132px;
        }
      }
    }
  }
}
