.banner {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #3C2CA0 1.58%, #753BC5 98.61%);
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: relative;

  .presentation {
    width: 50vw;
    position: relative;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
      width: 100%;
      max-width: 320px;
    }
  
    h1 {
      color: #fff;
      font-size: 1.65rem;
      max-width: 320px;
    }
  
    h2{
      font-weight: 400;
      font-size: .875rem;
      max-width: 320px;
      color: #fff
    }
  
    a {
      max-width: 320px;
      width: 100%;
      text-align: center;
      padding: 10px 25px;
      background-color: #fff;
      border-radius: 20px;
      text-decoration: none;
      color: #4D33AC;
      font-weight: 700;
    }
  }

  .bannerIllustration {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background: url('../../public/assets/illustration-home.svg') no-repeat;
    background-position: right 100%;
    background-size: 40%;
    animation: bannerIllustration 3s linear infinite;
  }

  @keyframes bannerIllustration {
    0% {
      background-position-y: 50%;
    }
    50% {
      background-position-y: 55%;
    }
    100% {
      background-position-y: 50%;
    }
  }
}

.divider1 {
  width: 100vw;
  height: 20vh;
  position: relative;
  z-index: 2;
  background: linear-gradient(178.24deg, #753BC5 47.57%, rgba(117, 59, 197, 0) 47.58%);
  
  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 241px;
    background: url('../../public/assets/wave1.png');
    background-size: 1000px 241px;  
    opacity: 0;

    &.wave1 {
      animation: animate 30s linear infinite;
      z-index: 1000;
      opacity: 1;
      animation-delay: 0s;
      bottom: 0;
    }

    &.wave2 {
      animation: animate2 15s linear infinite;
      z-index: 999;
      opacity: .5;
      animation-delay: -5s;
      bottom: 0;
    }

    &.wave3 {
      animation: animate3 10s linear iDivider1nfinite;
      z-index: 998;
      opacity: .2;
      animation-delay: -2s;
      bottom: 15;
    }

    @keyframes animate {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: -1000px;
      }
    }

    @keyframes animate2 {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: 1000px;
      }
    }
    @keyframes animate3 {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: -1000px;
      }
    }
  }
}
.c-player {
  background: #f5f5fb;
  z-index: 1;
  position: relative;
  top: -50px;
}
.knowMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F5F5FB;
  padding-bottom: 40px;

  .ballsColored {
    position: absolute;
    width: 100%;
    height: 500px;
    background: url('../../public/assets/ballsColored.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 10%;
    opacity: .3;
    animation: ballsColored 20s linear infinite;
    animation-delay: 0s;
  }

  @keyframes ballsColored {
    0% {
      background-position-y: top;
    }
    50% {
      background-position-y: center;
    }
    100% {
      background-position-y: top;
    }
  }

  .ballsOutlined {
    position: absolute;
    width: 100%;
    height: 500px;
    background: url('../../public/assets/ballsOutlined.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 10%;
    opacity: .3;
    animation: ballsOutlined 15s linear infinite;
    animation-delay: 0s;
  }

  @keyframes ballsOutlined {
    0% {
      background-position-y: top;
    }
    50% {
      background-position-y: center;
    }
    100% {
      background-position-y: top;
    }
  }

  h2 {
    color: #6359CF;
    width: 200px;
    text-align: center;
    margin-top: 170px;
    margin-bottom: 40px;

    span {
      font-weight: 500;
    }
  }
}

.grayWave {
  width: 100%;
  height: 250px;
  background: url('../../public/assets/gray-wave.png') bottom;
  opacity: 1;
  top: -50px;
  position: relative
}

.ourNumbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background: #fff;
  max-width: 1280px;
  margin: 0 auto;

  .ballsColored {
    position: absolute;
    width: 100%;
    height: 500px;
    background: url('../../public/assets/ballsColored.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 7%;
    opacity: .3;
    animation: ballsLColored 15s linear infinite;
    animation-delay: 0s;
    top: 50px;
  }

  @keyframes ballsLColored {
    0% {
      background-position-y: top;
    }
    50% {
      background-position-y: center;
    }
    100% {
      background-position-y: top;
    }
  }

  .ballsOutlined {
    position: absolute;
    width: 100%;
    height: 500px;
    background: url('../../public/assets/ballsOutlined.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 7%;
    opacity: .3;
    animation: ballsLOutlined 20s linear infinite;
    animation-delay: 0s;
    top: 50px;
  }

  @keyframes ballsLOutlined {
    0% {
      background-position-y: top;
    }
    50% {
      background-position-y: center;
    }
    100% {
      background-position-y: top;
    }
  }
  h2 {
    margin-top: 20px;
    color: #6359CF;
    width: 200px;
    text-align: left;
    margin-bottom: 40px;

    span {
      font-weight: 500;
    }
  }

  ul {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    
    li{
      width: 33.3%;
      list-style: none;
      
      h6 {
        font-weight: normal;
        font-size: 20px;
      }

      h5 {
        font-size: 45px;
        color: #6359CF;
        font-weight: 700;
       
        
        span {
          font-size: 90px;
        }
      }

      p {
        font-size: 20px;
        color: #51505E;
      }
    }
  }
}