@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;

  --gray-50: #f5f5fb;
  --gray-100: #ececec;
  --gray-200: #b3b1b7;
  --gray-300: #51505e;

  --green-500: #6acf59;
  --green-700: #37a425;

  --purple-300: #6359cf;
  --purple-400: #8e3aff;
  --purple-800: #4d33ac;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; //15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; //14px
  }
}

body {
  background: var(--white);
  overflow-x: hidden;
}

body,
input,
textarea,
button {
  font: 400 1rem Montserrat, sans-serif;
  color: var(--gray-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  color: var(--gray-800);
}

h1 {
  font-size: 50px;
  font-weight: 800;
}

h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: var(--purple-300);
  width: 425px;
  text-align: center;
  margin-top: 170px;
  margin-bottom: 40px;

  span {
    font-weight: 500;
  }

  strong {
    font-weight: 900;
  }
}
h3 {
  font-size: 26px;
  color: var(--purple-300);
  font-weight: 700;
}

h4 {
  font-size: 30px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: var(--gray-300);
}

h5 {
  font-size: 50px;
  color: var(--purple-300);
  font-weight: 800;

  span {
    font-size: 100px;
  }
}

h6 {
  font-weight: 500;
  font-size: 20px;
  color: var(--gray-300);
}

button {
  cursor: pointer;
}

p {
  font-size: 26px;
  font-family: 'Lato', sans-serif;
  color: #51505e;
  font-weight: 500;

  strong {
    font-weight: 700;
  }
}

a {
  max-width: 454px;
  width: 100%;
  height: 76px;
  text-align: center;
  padding: 10px 25px;
  background: #fff;
  border-radius: 38px;
  text-decoration: none;
  color: #4d33ac;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  transition: all ease-in-out 0.3s;
}

a:hover {
  background: var(--purple-800);
  color: var(--white);
}

td.plansBtn {
  border-bottom: 0 !important;
}

.terms {
  padding: 350px 15%;
  padding-bottom: 80px;

  p {
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
  }
}

.c-player__screen {
  width: 80%;
}

.video-js .vjs-tech {
  border-radius: 10px;
}

.vjs-lgpd.video-js {
  color: #4d33ac;
  box-shadow: 0 0 3rem #4d33ac;
  position: relative;
  z-index: 9999;
  border-radius: 10px;
}

.vjs-icon-play:before,
.video-js .vjs-play-control .vjs-icon-placeholder:before,
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  content: '\f101' !important;
  position: absolute !important;
  top: calc(50% - 0.75em) !important;
  left: 0 !important;
}

.video-js .vjs-big-play-button {
  font-size: 5em !important;
  background: #fff !important;
  width: 2em !important;
  height: 2em !important;
  top: calc(50% - 1em) !important;
  left: calc(50% - 1em) !important;
  padding: 0 !important;
  border-radius: 50% !important;
  border: 3px solid #4d33ac !important;
  box-shadow: 0 0 9px #2a2895;
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 1 !important;
}

.vjs-icon-placeholder {
  // width: 100%;
  // height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.vjs-poster {
  background-size: cover !important;
  border-radius: 10px !important;
}
// .video-js .vjs-tech {
//   height: auto !important;
// }

.vjs-icon-play,
.video-js .vjs-play-control .vjs-icon-placeholder,
.video-js .vjs-big-play-button .vjs-icon-placeholder:before,
.vjs-icon-volume-high,
.video-js .vjs-mute-control .vjs-icon-placeholder,
.video-js *,
.video-js *:before,
.video-js *:after {
  text-shadow: 3px 3px 6px #4d33ac;
}

.video-js .vjs-volume-level,
.video-js .vjs-play-progress {
  background-color: #4d33ac !important;
}

.video-js .vjs-control-bar {
  background-color: transparent !important;
  color: var(--white) !important;
  text-shadow: 3px 3px 6px #4d33ac;
}

.vjs-has-started .vjs-big-play-button {
  display: none !important;
}

.vjs-play-control.vjs-paused .vjs-icon-placeholder:before {
  content: '\f103' !important;
}

.vjs_video_3-dimensions {
  width: 720px !important;
  height: 408px !important;
}

.vjs-has-started .videoIcons .twitterIcons,
.vjs-has-started .videoIcons .sendIcons,
.vjs-has-started .videoIcons .loveIcons,
.vjs-has-started .videoIcons .likeIcons,
.vjs-has-started .videoIcons .mailIcons {
  visibility: hidden;
}

.videoIcons {
  position: absolute;
  top: -80px;
  z-index: 2;

  .twitterIcons {
    position: absolute;
    left: 40px;
    animation: twitterIcons 3s infinite;
    transform: rotate(0deg);
  }

  @keyframes twitterIcons {
    0% {
      transform: translateY(400px);
    }
    50% {
      transform: translateY(380px);
    }
    100% {
      transform: translateY(400px);
    }
  }

  .sendIcons {
    position: absolute;
    left: 90px;
    animation: sendIcons 4s infinite;
    transform: rotate(0deg);
  }

  @keyframes sendIcons {
    0% {
      transform: translateY(140px);
    }
    50% {
      transform: translateY(120px);
    }
    100% {
      transform: translateY(140px);
    }
  }
  .loveIcons {
    position: absolute;
    left: 220px;
    animation: loveIcons 2s infinite;
    transform: rotate(0deg);
  }

  @keyframes loveIcons {
    0% {
      transform: translateY(320px);
    }
    50% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(320px);
    }
  }
  .likeIcons {
    position: absolute;
    left: 480px;
    animation: likeIcons 5s infinite;
    transform: rotate(0deg);
  }

  @keyframes likeIcons {
    0% {
      transform: translateY(200px);
    }
    50% {
      transform: translateY(180px);
    }
    100% {
      transform: translateY(200px);
    }
  }

  .mailIcons {
    position: absolute;
    left: 600px;
    animation: mailIcons 6s infinite;
    transform: rotate(0deg);
  }

  @keyframes mailIcons {
    0% {
      transform: translateY(360px);
    }
    50% {
      transform: translateY(340px);
    }
    100% {
      transform: translateY(360px);
    }
  }
}
.react-reveal {
  display: inline;
}

.ballsRC {
  position: absolute;
  width: 100%;
  height: 400px;
  background: url('/assets/ballsColored.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 10%;
  opacity: 0.3;
  animation: ballsRC 20s linear infinite;
  animation-delay: 0s;
  z-index: 1;
}

@keyframes ballsRC {
  0% {
    background-position-y: top;
  }
  50% {
    background-position-y: center;
  }
  100% {
    background-position-y: top;
  }
}

.ballsRO {
  position: absolute;
  width: 100%;
  height: 400px;
  background: url('/assets/ballsOutlined.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 10%;
  opacity: 0.3;
  animation: ballsRO 15s linear infinite;
  animation-delay: 0s;
}

@keyframes ballsRO {
  0% {
    background-position-y: top;
  }
  50% {
    background-position-y: center;
  }
  100% {
    background-position-y: top;
  }
}

.ballsLC {
  position: absolute;
  width: 100%;
  height: 500px;
  background: url('/assets/ballsColored.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 10%;
  opacity: 0.3;
  animation: ballsRC 20s linear infinite;
  animation-delay: 0s;
}

@keyframes ballsLC {
  0% {
    background-position-y: top;
  }
  50% {
    background-position-y: center;
  }
  100% {
    background-position-y: top;
  }
}

.ballsLO {
  position: absolute;
  width: 100%;
  height: 500px;
  background: url('/assets/ballsOutlined.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 10%;
  opacity: 0.3;
  animation: ballsRO 15s linear infinite;
  animation-delay: 0s;
}

@keyframes ballsLO {
  0% {
    background-position-y: top;
  }
  50% {
    background-position-y: center;
  }
  100% {
    background-position-y: top;
  }
}

.swiper-container {
  overflow: visible !important;
}

.swiper-slide {
  margin-bottom: 80px;
  .testimonialBox {
    &:after {
      content: ' ';
      height: 100%;
      width: 40%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        270deg,
        #ffffff 9.75%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 1;
      border-radius: 20px;
      opacity: 1;
      transition: all ease-in-out 0.5s;
    }
  }
}

.swiper-slide-active {
  z-index: 99999;
  width: 600px !important;

  .testimonialBox {
    background: var(--white);
    width: 645px !important;
    border: 5px solid #4043af;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;
    padding: 20px;
    overflow-x: hidden;
    display: block;
    transition: all ease-in-out 1s;

    &:after {
      opacity: 0;
    }

    .testimonialBody {
      margin-top: 20px;
      font-size: 20px;
      line-height: 180%;
      width: 430px;
    }
  }
}

.testimonialBox {
  background: var(--white);
  width: 400px !important;
  border: 5px solid #4043af;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
  padding: 20px;
  overflow-x: hidden;

  .testimonialHeader {
    display: flex;

    img {
      position: relative;
      left: 0;
    }

    .testimonialPerson {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 20px;

      .stars {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 14px;
          mix-blend-mode: normal;
          opacity: 0.5;
          margin-left: 5px;
        }
      }
    }
  }

  .testimonialBody {
    margin-top: 20px;
    font-size: 20px;
    line-height: 180%;
    margin-left: 110px;
    width: 430px;
    overflow-x: hidden;
    position: relative;

    p {
      font-size: 20px;
      line-height: 180%;
    }
  }
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  width: auto !important;
  display: flex;
  align-items: center;
}

.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 1 !important;

  &.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    opacity: 1 !important;
    background: #443c93 !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 95% !important;
  width: auto !important;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: auto !important;
  right: 135px !important;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 85px !important;
  left: auto !important;
}

.swiper-button-prev:before,
.swiper-container-rtl .swiper-button-next:before {
  content: ' ';
  width: 20px;
  height: 15px;
  background-image: url('/assets/arrow/smallLeftArrow.svg');
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  visibility: hidden;
  display: none;
}

.swiper-button-next:before,
.swiper-container-rtl .swiper-button-prev:before {
  content: ' ';
  width: 42px;
  height: 15px;
  background-image: url('/assets/arrow/bigRightArrow.svg');
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  visibility: hidden;
  display: none;
}

.faqPlans {
  position: relative;
  top: -100px;
  z-index: -1;
}

@media (min-width: 769px) and (max-width: 1680px) {
  body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    width: 80%;
    max-width: 280px;
    font-size: 36px;
  }
  p {
    font-size: 18px;
  }

  a {
    font-size: 14px;
    height: 48px;
    width: 100%;
  }

  .vjs_video_3-dimensions {
    width: 90% !important;
    max-width: 720px !important;
    max-height: 408px;
  }
}

html:not(.no-js) [data-aos^='fade'][data-aos^='fade'].aos-animate {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  z-index: 999999999;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    width: 100%;
    max-width: 300px;
    font-size: 32px;
    margin-top: 20px;
  }
  p {
    font-size: 16px;
  }

  a {
    font-size: 14px;
    height: 48px;
    max-width: 284px;
  }

  .video-js .vjs-big-play-button {
    font-size: 2.8em !important;
  }

  .vjs_video_3-dimensions {
    width: 100% !important;
    max-width: 300px;
    height: auto;
    max-height: 172px;
  }

  .videoIcons {
    display: none;
  }

  .ballsRO,
  .ballsRC,
  .ballsLC,
  .ballsLO {
    display: none;
  }

  .swiper-container {
    overflow: visible !important;
  }

  .swiper-wrapper {
    width: 90% !important;
    padding: 0 auto;

    .swiper-slide {
      margin-bottom: 80px;
      width: 80%;

      .testimonialBox {
        &:after {
          display: none;
        }
      }
    }
  }

  .swiper-slide-active {
    width: 110% !important;

    .testimonialBox {
      max-width: auto;
      width: 100% !important;

      .testimonialBody {
        margin-top: 0;
        font-size: 12px;
        line-height: 100%;
        width: 100%;
      }
    }
  }

  .testimonialBox {
    width: 250px !important;

    .testimonialHeader {
      margin-bottom: 10px;
      img {
        width: 70px;
        margin-right: 10px;
      }

      .testimonialPerson {
        margin-left: 0;

        span {
          &:last-child {
            display: none;
          }
        }
      }
    }

    .testimonialBody {
      font-size: 12px;
      line-height: 100%;
      margin-left: 0;
      width: 210px;

      p {
        font-size: 12px;
        line-height: 180%;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: auto !important;
    right: 65px !important;
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 10px !important;
    left: auto !important;
  }

  .swiper-button-prev:before,
  .swiper-container-rtl .swiper-button-next:before {
    content: ' ';
    width: 20px;
    height: 15px;
    background-image: url('/assets/arrow/smallLeftArrow.svg');
  }

  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    visibility: hidden;
    display: none;
  }

  .swiper-button-next:before,
  .swiper-container-rtl .swiper-button-prev:before {
    content: ' ';
    width: 42px;
    height: 15px;
    background-image: url('/assets/arrow/bigRightArrow.svg');
  }

  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    visibility: hidden;
    display: none;
  }
}
