.ourNumbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background: #fff;
  max-width: 1280px;
  margin: 0 auto;

  
  h2 {
    margin-top: 20px;
    width: 200px;
    text-align: left;
    margin-bottom: 40px;
    z-index: 9999;

  }

  ul {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    z-index: 9999;

    
    li{
      width: 33.3%;
      list-style: none;
    }
  }
}