.ourNumbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1280px;
  margin: 0 10%;
  height: 500px;
  position: relative;
  top: -40px;

  h2 {
    margin-top: 20px;
    text-align: left;
    margin-bottom: 40px;
    z-index: 9999;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    z-index: 9999;

    li {
      width: 30%;
      list-style: none;
      margin: 0 3%;
      display: flex;
      flex-direction: column;
      text-align: left;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1680px) {
  .ourNumbers {
    margin-top: -40px;

    ul {
      li {
        h5 {
          span {
            font-size: 72px;
          }
        }
        h4 {
          font-size: 22px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .ourNumbers {
    height: 700px;

    h2 {
      margin: 10px;
    }
    ul {
      flex-direction: column;
      align-items: center;
      padding: 10px;

      li {
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}
