.partnersMain {
  width: 100vw;
  height: auto;
  background: url('/assets/circleBg.svg') no-repeat;
  background-position-y: center;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 80px;
  z-index: 1;

  h2 {
    width: 80%;
    max-width: 1200px;
    line-height: 120%;
    text-align: center;
  }

  .partners {
    width: 100vw;

    display: flex;
    background: url('/assets/circleColoredBg.svg') no-repeat;
    background-size: 100vw 150px;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 200px 0;
    margin-bottom: 200px;

    .boxImg1 {
      background: var(--white);
      box-shadow: 12px 34px 50px rgba(49, 89, 211, 0.32);
      width: 65px;
      height: 65px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: calc(50% - 33px);
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 0;
      overflow: hidden;

      img.partner1 {
        width: 55px;
        top: calc(50% - 27.5px);
        left: calc(50% - 27.5px);
        border-radius: 50%;
        height: 50px;
      }

      &:hover {
        position: fixed;
        overflow: visible;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
        z-index: 0;
        box-shadow: 12px 34px 50px rgba(49, 89, 211, 0);
        background: transparent;

        img.partner1 {
          position: absolute;

          transition: all ease-in-out 0.3s;
          transform: scale(3);
        }
      }
    }

    .boxImg2 {
      background: var(--white);
      box-shadow: 12px 34px 50px rgba(49, 89, 211, 0.32);
      width: 65px;
      height: 65px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 30%;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      overflow: hidden;

      img.partner2 {
        width: 55px;
        top: calc(50% - 27.5px);
        left: calc(50% - 27.5px);
        border-radius: 50%;
        height: 50px;
      }

      &:hover {
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
        z-index: 0;
        box-shadow: 12px 34px 50px rgba(49, 89, 211, 0);
        background: transparent;

        img.partner2 {
          position: absolute;

          transition: all ease-in-out 0.3s;
          transform: scale(3);
        }
      }
    }

    .boxImg3 {
      background: var(--white);
      box-shadow: 12px 34px 50px rgba(49, 89, 211, 0.32);
      width: 65px;
      height: 65px;
      border-radius: 50%;
      position: absolute;
      bottom: 15%;
      right: 30%;
      transition: transform ease-in-out 0.3s;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      img.partner3 {
        width: 55px;
        top: calc(50% - 27.5px);
        left: calc(50% - 27.5px);
        border-radius: 50%;
        background-color: var(--white);
        height: 50px;
      }

      &:hover {
        position: fixed;
        overflow: visible;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
        z-index: 0;
        box-shadow: 12px 34px 50px rgba(49, 89, 211, 0);
        background: transparent;

        img.partner3 {
          position: absolute;

          transition: all ease-in-out 0.3s;
          transform: scale(3);
        }
      }
    }

    .boxImg4 {
      background: var(--white);
      box-shadow: 12px 34px 50px rgba(49, 89, 211, 0.32);
      width: 55px;
      height: 55px;
      border-radius: 50%;
      position: absolute;
      top: -60px;
      left: 20%;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      overflow: hidden;

      img.partner4 {
        width: 45px;
        top: calc(50% - 22.5px);
        left: calc(50% - 22.5px);
        background-color: var(--white);
        height: 50px;
        border-radius: 50%;
      }

      &:hover {
        position: fixed;
        overflow: visible;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
        z-index: 0;
        box-shadow: 12px 34px 50px rgba(49, 89, 211, 0);
        background: transparent;

        img.partner4 {
          transform: scale(3.3);
        }
      }
    }

    .boxImg5 {
      background: var(--white);
      box-shadow: 12px 34px 50px rgba(49, 89, 211, 0.32);
      width: 65px;
      height: 65px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 20%;
      transition: transform ease-in-out 0.3s;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      img.partner5 {
        width: 55px;
        top: calc(50% - 27.5px);
        left: calc(50% - 27.5px);
        border-radius: 50%;
        background-color: var(--white);
        height: 50px;
      }

      &:hover {
        position: fixed;
        overflow: visible;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
        z-index: 0;
        box-shadow: 12px 34px 50px rgba(49, 89, 211, 0);
        background: transparent;

        img.partner5 {
          position: absolute;

          transition: all ease-in-out 0.3s;
          transform: scale(3);
        }
      }
    }

    .boxImg6 {
      background: var(--white);
      box-shadow: 12px 34px 50px rgba(49, 89, 211, 0.32);
      width: 55px;
      height: 55px;
      border-radius: 50%;
      position: absolute;
      bottom: 20%;
      left: 10%;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      overflow: hidden;

      img.partner6 {
        width: 45px;
        top: calc(50% - 22.5px);
        left: calc(50% - 22.5px);
        background-color: var(--white);
        height: 50px;
      }

      &:hover {
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
        z-index: 0;
        box-shadow: 12px 34px 50px rgba(49, 89, 211, 0);
        background: transparent;

        img.partner6 {
          transform: scale(3.3);
          overflow: hidden;
        }
      }
    }

    .boxImg7 {
      background: var(--white);
      box-shadow: 12px 34px 50px rgba(49, 89, 211, 0.32);
      width: 65px;
      height: 65px;
      border-radius: 50%;
      position: absolute;
      bottom: 10%;
      right: 10%;
      transition: transform ease-in-out 0.3s;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      overflow: hidden;

      img.partner7 {
        width: 55px;
        top: calc(50% - 27.5px);
        left: calc(50% - 27.5px);
      }

      &:hover {
        position: fixed;
        overflow: visible;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
        z-index: 0;
        box-shadow: 12px 34px 50px rgba(49, 89, 211, 0);
        background: transparent;

        img.partner7 {
          position: absolute;
          background-color: var(--white);
          border-radius: 30%;
          height: 50px;
          transition: all ease-in-out 0.3s;
          transform: scale(3);
        }
      }
    }

    img.partner2 {
      transition: transform ease-in-out 0.3s;
    }

    img.partner3 {
      transition: transform ease-in-out 0.3s;
    }

    img.partner4 {
      transition: transform ease-in-out 0.3s;
    }

    img.partner5 {
      transition: transform ease-in-out 0.3s;
    }

    img.partner6 {
      transition: transform ease-in-out 0.3s;
    }

    img.partner7 {
      transition: transform ease-in-out 0.3s;
    }
  }
}

@media (min-width: 769px) and (max-width: 1680px) {
  .partnersMain {
    height: auto;

    h2 {
      margin: 20px 10%;
      max-width: 80%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .partnersMain {
    height: auto;
    .partners {
      margin: 0;
      margin-bottom: 200px;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .boxImg1,
      .boxImg2,
      .boxImg3,
      .boxImg4,
      .boxImg5,
      .boxImg6,
      .boxImg7 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        width: 100px;
        height: 100px;
        margin: 20px 10px;

        img.partner1,
        img.partner2,
        img.partner3,
        img.partner4,
        img.partner5,
        img.partner6,
        img.partner7 {
          pointer-events: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:hover {
          position: relative;
          overflow: visible;
          width: 100px;
          height: 100px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 0;
          box-shadow: none;
          background: transparent;

          img.partner1,
          img.partner2,
          img.partner3,
          img.partner4,
          img.partner5,
          img.partner6,
          img.partner7 {
            pointer-events: none;
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: none;
            transform: scale(1);
          }
        }
      }
    }
  }
}
