.footer {
  width: 100vw;
  background-image: linear-gradient(#3c2ca0, #753bc5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  line-height: 170%;
  color: #b3b1b7;
  padding: 10px 10%;

  .siteMap {
    width: 100%;
    display: flex;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 20px;
      width: 30%;

      li {
        margin: 0;
        width: 100%;
        color: #fff;
        font-weight: 900;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          background-color: transparent;
          color: #b3b1b7;
          text-align: center;
          padding: 5px 0;
          margin: 0 auto;
          font-weight: 500;
          font-size: 14px;
          line-height: 130%;
          height: auto;
        }

        a:hover {
          color: #fff;
        }
      }
    }
    .illustration {
      width: 50%;

      img {
        width: 100%;
      }
    }

    .callToAction {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      h2 {
        font-size: 26px;
        margin: 15px 0;
        color: var(--white);
      }

      a {
        width: auto;
        height: auto;
        padding: 5px;
        font-size: 12px;
        width: 100%;
        margin-top: 10px;
      }
    }
  }
  .foot {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .credits {
      display: flex;
      width: 80%;

      p {
        font-size: 12px;
        color: #b3b1b7;
      }
      a {
        width: auto;
        padding: 0 10px;
        height: auto;
        border-left: 1px solid #b3b1b7;
        border-radius: 0;
        background: transparent;
        color: #b3b1b7;
        font-weight: 400;
        font-size: 14px;
        transition: all ease-in-out 0.3s;

        &:first-child {
          margin-left: 10px;
          border-left: 0;
          max-width: initial;
        }

        &:hover {
          color: var(--white);
        }
      }
    }
    .social {
      color: var(--white);
      display: flex;

      a {
        margin: 0 10px;
        border-radius: 50%;
        width: 42px;
        height: 40px;
        padding: 0;
      }
    }
  }
}

.divider2 {
  width: 100%;
  height: 250px;
  position: relative;
  z-index: 2;

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background: url('/assets/waves/plansTopWave.svg') repeat-x;
    background-size: cover;
    background-position: top;
    opacity: 0;

    &.wave1 {
      animation: animate 30s linear infinite;
      z-index: 1000;
      opacity: 1;
      animation-delay: 0s;
      bottom: 0;
    }

    &.wave2 {
      animation: animate2 15s linear infinite;
      z-index: 999;
      opacity: 0.5;
      animation-delay: -5s;
      bottom: 0;
    }

    &.wave3 {
      animation: animate3 10s linear infinite;
      z-index: 998;
      opacity: 0.2;
      animation-delay: -2s;
      bottom: 15;
    }

    @keyframes animate {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: -1000px;
      }
    }

    @keyframes animate2 {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: 1000px;
      }
    }
    @keyframes animate3 {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: -1000px;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1680px) {
  .footer {
    display: flex;

    .siteMap {
      .illustration {
        width: 50%;

        img {
          width: 100%;
        }
      }

      .callToAction {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        h2 {
          font-size: 18px;
          margin: 0;
        }

        a {
          width: auto;
          height: auto;
          padding: 5px;
          font-size: 12px;
        }
      }
    }

    .credits {
      display: flex;

      a {
        height: auto;
        text-align: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;

    .siteMap {
      width: 100%;
      display: flex;
      flex-direction: column;
      ul {
        width: 100%;
        margin-bottom: 20px;
      }

      .illustration {
        width: 100%;
      }

      .callToAction {
        width: 100%;
        h2 {
          max-width: 100%;
          font-size: 18px;
        }
      }
    }

    .foot {
      flex-direction: column;
      .credits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        text-align: center;
        width: 100%;

        a {
          height: auto;
          border: 0;
          margin-left: 0;
          margin: 10px 0;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  .divider2 {
    width: 100%;
    height: 149px;
    position: relative;
    z-index: 2;
    margin-bottom: -2px;

    .wave {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 150px;
      background: url('/assets/waves/plansTopWave.svg') repeat-x;
      background-size: cover;
      background-position: top;
      opacity: 0;

      &.wave1 {
        animation: animate 30s linear infinite;
        z-index: 1000;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
      }

      &.wave2 {
        animation: animate2 15s linear infinite;
        z-index: 999;
        opacity: 0.5;
        animation-delay: -5s;
        bottom: 0;
      }

      &.wave3 {
        animation: animate3 10s linear infinite;
        z-index: 998;
        opacity: 0.2;
        animation-delay: -2s;
        bottom: 15;
      }

      @keyframes animate {
        0% {
          background-position-x: 0;
        }
        100% {
          background-position-x: -1000px;
        }
      }

      @keyframes animate2 {
        0% {
          background-position-x: 0;
        }
        100% {
          background-position-x: 1000px;
        }
      }
      @keyframes animate3 {
        0% {
          background-position-x: 0;
        }
        100% {
          background-position-x: -1000px;
        }
      }
    }
  }
}
