.footer {
  width: 100vw;
  background: #5432af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;
  line-height: 170%;
  color: #b3b1b7;
  padding: 10px 15%;

  .credits {
    display: flex;
    a {
      width: auto;
      padding: 0 10px;
      height: auto;
      border-left: 1px solid #b3b1b7;
      border-radius: 0;
      background: transparent;
      color: #b3b1b7;
      font-weight: 400;
      font-size: 14px;
      transition: all ease-in-out 0.3s;

      &:first-child {
        margin-left: 10px;
      }

      &:hover {
        color: var(--white);
      }
    }
  }

  .social {
    color: var(--white);
    display: flex;

    a {
      margin: 0 10px;
      border-radius: 50%;
      width: 42px;
      height: 40px;
      padding: 0;
    }
  }
}

.divider2 {
  width: 100vw;
  height: 20vh;
  position: relative;
  z-index: 2;

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 101%;
    height: 348px;
    background: url('/assets/waves/Footer2.svg');
    background-size: cover;
    background-position: center top;
    opacity: 0;

    &.wave1 {
      animation: animate 30s linear infinite;
      z-index: 1000;
      opacity: 1;
      animation-delay: 0s;
      bottom: 0;
    }

    &.wave2 {
      animation: animate2 15s linear infinite;
      z-index: 999;
      opacity: 0.5;
      animation-delay: -5s;
      bottom: 0;
    }

    &.wave3 {
      animation: animate3 10s linear infinite;
      z-index: 998;
      opacity: 0.2;
      animation-delay: -2s;
      bottom: 15;
    }

    @keyframes animate {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: -1000px;
      }
    }

    @keyframes animate2 {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: 1000px;
      }
    }
    @keyframes animate3 {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: -1000px;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1680px) {
  .footer {
    display: flex;
    .credits {
      display: flex;

      a {
        height: auto;
      }
    }
  }
}
