.cplayer {
  background: #f5f5fb;
  z-index: 1;
  position: relative;
  padding: 0;
  padding: 150px 0;
  background: url('/assets/gray-wave.png') bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.knowMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    z-index: 9999;
  }
}

@media (max-width: 768px) {
  .cplayer {
    padding-top: 300px;
  }
}
