.cplayer {
  background: #f5f5fb;
  z-index: 1;
  position: relative;
  top: -70px;
  padding: 100px 0;
}

.knowMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5fb;
  padding-bottom: 40px;

  h2 {
    z-index: 9999;
  }
}

.grayWave {
  width: 100%;
  height: 250px;
  background: url('/assets/gray-wave.png') bottom;
  opacity: 1;
  top: -70px;
  position: relative;
}
