.cplayer {
  background: #f5f5fb;
  z-index: 1;
  position: relative;
  top: -50px;
}

.knowMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F5F5FB;
  padding-bottom: 40px;

  .ballsColored {
    position: absolute;
    width: 100%;
    height: 500px;
    background: url('/assets/ballsColored.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 10%;
    opacity: .3;
    animation: ballsColored 20s linear infinite;
    animation-delay: 0s;
  }

  @keyframes ballsColored {
    0% {
      background-position-y: top;
    }
    50% {
      background-position-y: center;
    }
    100% {
      background-position-y: top;
    }
  }

  .ballsOutlined {
    position: absolute;
    width: 100%;
    height: 500px;
    background: url('/assets/ballsOutlined.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 10%;
    opacity: .3;
    animation: ballsOutlined 15s linear infinite;
    animation-delay: 0s;
  }

  @keyframes ballsOutlined {
    0% {
      background-position-y: top;
    }
    50% {
      background-position-y: center;
    }
    100% {
      background-position-y: top;
    }
  }
}

.grayWave {
  width: 100%;
  height: 250px;
  background: url('/assets/gray-wave.png') bottom;
  opacity: 1;
  top: -50px;
  position: relative
}